<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %} 
    <meta charset="utf-8">
    <meta name="description"
        content="This is to do list implemented using Django by Dennis Ivy who is a full stack web developer.">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>To Do Items</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.gstatic.com">
          
    <!-- hic -.- chán ghe  -->
    {% load bootstrap5 %}
    {% bootstrap_css %}
       
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <div class="containerr">
        {% block content %} {% endblock content %}
    </div>
</body>


</html>